.App {
  text-align: center;
}

.grid-main{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-child{
  border: 1px solid #a7a7a7;
}

.search{
  width: 40%;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: 1px solid #a7a7a7;
}